.card {
  margin: auto;
  width: 100%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
  transition: transform 0.9s;
}
/* Add border to the table */
.table-border {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nvr_col {
  cursor: pointer;
}

.card:hover {
  border: 1px solid gray;
}

.tops {
  margin-top: 18.8rem !important;
  margin-bottom: -25px;
}
