@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif !important;
}




.Routes {
  background: #f6fcff;
}


.cart_box {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Cameras Details CSS */

.camera_category_title {
  color: black;
  font-style: italic;
  font-size: 10px;
}

.poe_next_btn {
  margin-left: auto;
}

.camera_thumbnail_img {
  border: 1px solid gray;
  cursor: pointer;
  padding: 2px;
}

/* POE Switch Page CSS */

.category_para {
  font-weight: bold;
  font-style: italic;
  font-size: 10px;
}